SSHuser='usr'
SSHpass='pass'
SSHhost='7.7.7.7'
repourl='github.com/usr/repo.git'
repotoken='mylongtokenmylongtokenmylongtoken'
authkey=`cat ~/credentials | grep _id | cut -d "=" -f2 | xargs`
authsecret=`cat ~/credentials | grep _secret | cut -d "=" -f2 | xargs`
mailjet='blahblah'
# source ../.exclAuthenticate.sh
# authkey=$KEY_ID
# authsecret=$ACCESS_KEY