SSHuser='usr'
SSHpass='pass'
SSHhost='7.7.7.7'
repourl='github.com/usr/repo.git'
repotoken='mylongtokenmylongtokenmylongtoken'
authkey=`cat ~/credentials | grep _id | cut -d "=" -f2`
authsecret=`cat ~/credentials | grep _secret | cut -d "=" -f2`